

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>All Lists:</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat"><%= link_to "NEW", new_list_path %></a>
  </div>
</div>
  <%#= link_to "Create new list", new_list_path %>

  <% @lists.each do |list| %>
    <li>
    <%= link_to "#{list.name}", list_path(list) %>
    </li>
  <% end %>
</div>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>
        <% @lists.each do |list| %>
         <%= link_to "#{list.name}", list_path(list) %>
        <% end %>
      </h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
